.bg-image {
    margin: 0;
    background-image: url("https://media.istockphoto.com/id/1203599923/photo/food-background-with-assortment-of-fresh-organic-vegetables.jpg?b=1&s=170667a&w=0&k=20&c=fRNCED4dyey-i6K2RHTPaIm_HFLUr3hnj4J6WblHaXc=");
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}